.signUp .container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 50px 0px;
}

.signUp .signUp_img,
.signUp .signUp_info {
    width: 50%;
}

.signUp .signUp_img img {
    width: 100%;
    height: 80vh;
}

.signUp .signUp_info {
    padding: 0px 100px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    /* gap: 15px; */
    width: 530px;
}

.signUp_info h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.signUp_info h4 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.signUp_info .standard_basic {
    margin-bottom: 20px;
    width: 100%;
}

.signUp_info .login_part .btn_loginPage {
    width: 100%;
    color: #DB4444;
    border-color: #DB4444 !important;
    padding: 10px 0px;
    margin: 10px 0px;
    text-transform: capitalize;

}

.signUp_info .btn_google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.btn_google svg {
    font-size: 25px;
}


.signUp_info .login_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;

}

.login_part h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
}

.login_part button {
    color: #000;
    text-transform: capitalize;
    /* border-color: white; */
    background-color: inherit;
}

.login_part button:hover {
    color: #DB4444;
}