.navbar{
    position: sticky;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.362);
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.632);
}


.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.navbar .nav_logo a {
    text-decoration: none;
}

.navbar .nav_logo h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #000000;
}


.navbar .nav_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.navbar .nav_link a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #000000;
    /* border-bottom: 2px solid white; */

}

.navbar .nav_link a:hover {
    color: #DB4444;
    border-bottom: 2px solid #DB4444;
    transition: all 0.2s ease-in-out;
}


.navbar .nav_icon,
.navbar .nav_icon form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav_icon form {
    border: none;
    padding: 12px 10px 12px 12px;
    background-color: #F5F5F5;
    width: 250px;
    border-radius: 5px ;
}

.nav_icon form input {
    outline: none;
    border: none;
    background-color: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.nav_icon svg {
    font-size: 20px;
}

.nav_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.nav_icons svg:hover{
    color: #DB4444;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}